@model List<Product>
@{
    ViewData["Title"] = "Index";
}
 <div class="main-panel">
  <div class="content-wrapper">
<div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td>@item.Name</td>
                        <td><img  style=" width:50px; height:50px" src="~/img/@item.Image" /></td>
                        <td>@item.Price</td>
                        <td>@item.Category.Name</td>
                        <td><a class="btn-success"  asp-action="Details" asp-route-id="@item.Id">Details </a> 
                        <a class="btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete </a> </td>
                    </tr>
                    }
              </tbody>
            </table>
            </div>
        </div>
        </div>
        </div>


<div class=" ml-5">
     <nav aria-label="...">
  <ul class="pagination">
        @if (ViewBag.CurrentPage == 1)
        {
            <li class="page-item disabled">
              <a class="page-link" href="#"  aria-disabled="true">Previous</a>
            </li>
        }
        else
        {
              <li class="page-item ">
              <a class="page-link"  asp-controller="Product" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1" aria-disabled="true">Previous</a>
            </li>            
        }

        @for (int i = 1; i <=  ViewBag.TotalPage; i++)
         {
              <li class="page-item @(ViewBag.CurrentPage == i ? "active":"") "style="@(ViewBag.CurrentPage == i?"pointer-events:none":"")" >
               <a class="page-link"  asp-controller="Product" asp-action="Index" asp-route-page="@i">
                   @i<span class="sr-only">(current)</span>
               </a>
             </li>
         }
       @if (ViewBag.CurrentPage == ViewBag.TotalPage)
      {
         <li class="page-item disabled">
              <a class="page-link" aria-disabled="true">Next</a>
        </li>
      }
    else
    {
          <li class="page-item ">
              <a class="page-link" aria-disabled="true"  asp-controller="Product" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
        </li>                   
    }
</ul>
</nav>
</div>
</div>
</div>
</div>

